isros-muleapp/src/main/app/clients.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd">
    <flow name="clientsFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" address="vm://clients" doc:name="VM"/>
        <set-variable variableName="operation" value="#[payload.request.operation]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.operation == '1']">
                <component doc:name="Java" class="es.ual.vsuarez.isros.clients.ListClients"/>
            </when>
            <when expression="#[flowVars.operation == '2']">
                <component doc:name="Java" class="es.ual.vsuarez.isros.clients.CreateClient"/>
            </when>
            <when expression="#[flowVars.operation == '3']">
                <component doc:name="Java" class="es.ual.vsuarez.isros.clients.DeleteClient"/>
            </when>
        </choice>
        <echo-component doc:name="Echo"/>
    </flow>
</mule>
